<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name: <input type="text" th:field="*{name}"/></label>
    </div>
    <div>
        <label>Email: <input type="text" th:field="*{email}"/></label>
    </div>
    <div>
        <label>Age: <input type="number" th:field="*{age}"/></label>
    </div>
    <button type="submit">Update</button>
</form>
<a th:href="@{/admin}">Back to list</a>
</body>
</html>